<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <!-- <ngx-charts-line-chart
      [scheme]="colorScheme"
      [legend]="legend"
      [legendPosition]="'below'"
      [legendTitle]="''"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="multi"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      >
    </ngx-charts-line-chart> -->
    <div echarts [options]="chartOption" style="height: 400px"></div>
    </div>
  </div>